
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>


    {% if user.is_authenticated %}

    <nav class = "navbar navbar-dark bg-dark">

      <div class="container">

           <a class="navbar-brand" href="{% url 'enjoy_app:meteo' %}">Meteo page</a>
             <a class="navbar-brand" href="{% url 'enjoy_app:horoscope' %}">horoscope page</a>
            <a class="navbar-brand"  href="{% url 'enjoy_app:news' %}">News page</a>
              <a class="navbar-brand" href="{% url 'enjoy_app:transports' %}">Transports page</a>
             <a class="navbar-brand" href="{% url 'enjoy_app:user_logout' %}">Logout</a>

      </div>
    </nav>




        <div class="container">
          {% block body_blok %}


          {% endblock %}


        </div>

    {% else %}
    <h1>NO ACCESS</h1>

    {% endif %}


  </body>
</html>
